.wrong {
	font-family: courier, fixed, monospace;
	color: #FF0000;
}
.formulario{
	height: auto;
	width: auto;
	min-height: 315px;
	min-width: 305px;
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
	border: 1px solid black; 
	border-radius: 10px;
	box-shadow: 5px 5px 2px #888888;
	background-color: #DBF4FC; 
}

.user{
	background-color: #FF7D7D;
}